h1{
    padding: 5px;
}

h2{
    padding: 5px;
}

.cardProducto{
    width: 150px;
    margin: 20px;
    background-color: coral;
    font-style: oblique;
    justify-content: center;

}

.boton{
margin: 15px;
background-color: rgb(99, 238, 18);
font-style: oblique;
}
